<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card bg-primary text-white text-center">
                <div class="card-header">
                    <h3 class="card-title">Total Orders</h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ total_orders }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-secondary text-white text-center">
                <div class="card-header">
                    <h3 class="card-title">Pending</h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ pending }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-success text-white text-center">
                <div class="card-header">
                    <h3 class="card-title">Delivered</h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ delivered }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-info text-white text-center">
                <div class="card-header">
                    <h3 class="card-title">Out For Delivery</h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ outfordelivery }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>